In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (7.2 kB)
Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl (33.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.9/33.9 MB 37.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

In [ ]:
import mysql.connector

In [ ]:
mydb = mysql.connector.connect(
  host="database-2.crqqsumuy6iy.ap-south-1.rds.amazonaws.com",
  user="admin",
  password="ArchanaRuban",
  port=3306
)

In [ ]:
print(mydb)
mycursor = mydb.cursor(buffered=True)
mycursor.execute("Show databases")
for x in mycursor:
  print(x)

<mysql.connector.connection.MySQLConnection object at 0x7b2fa5987150>
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('user_logs',)

In [ ]:
mycursor.execute("CREATE DATABASE IF NOT EXISTS user_logs")

In [ ]:
mycursor.execute("USE user_logs")

In [ ]:
mycursor.execute("""CREATE TABLE IF NOT EXISTS APP_USER_LOGS(Id INT AUTO_INCREMENT PRIMARY KEY,
                  Text TEXT NOT NULL,
                  Predicted_Class INT NOT NULL,
                  Negative FLOAT NOT NULL,
                  Neutral FLOAT NOT NULL,
                  Positive FLOAT NOT NULL,
                  Timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP)""")

In [ ]:
mycursor.execute("select * FROM APP_USER_LOGS")
out = mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers = [i[0] for i in mycursor.description], tablefmt = 'psql'))

+------+--------+-------------------+------------+-----------+------------+-------------+--------------+
| Id   | Text   | Predicted_Class   | Negative   | Neutral   | Positive   | Timestamp   | ip_address   |
|------+--------+-------------------+------------+-----------+------------+-------------+--------------|
+------+--------+-------------------+------------+-----------+------------+-------------+--------------+